
.Rproj.user/99DD87FF/cpp-definition-cache

.Rproj.user/99DD87FF/pcs/files-pane.pper

.Rproj.user/99DD87FF/pcs/windowlayoutstate.pper

.Rproj.user/99DD87FF/rmd-outputs

.Rproj.user/99DD87FF/saved_source_markers

.Rproj.user/99DD87FF/sources/prop/10DB7D93

.Rproj.user/99DD87FF/pcs/debug-breakpoints.pper

.Rproj.user/99DD87FF/pcs/source-pane.pper

.Rproj.user/99DD87FF/pcs/workbench-pane.pper

.Rproj.user/99DD87FF/sources/prop/02A03BDA

.Rproj.user/99DD87FF/sources/prop/

.Rproj.user/99DD87FF/sources/s-71F19194/

.Rproj.user/99DD87FF/sources/s-B28A5C2D/

.Rproj.user/shared/notebooks/

.DS_Store

.Rbuildignore

.Rhistory

glmCensRd.Rproj
.Rproj.user

.RData
