
.DS_Store

.Rbuildignore

.Rproj.user/99DD87FF/cpp-definition-cache

*.pper

.Rproj.user/99DD87FF/

glmCensRd.Rproj

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/cge73hl88hwz9/

*.json

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/cjha7f5ga3xh6/

.Rhistory

.RData

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/csetup_chunk/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/cugya3s0oi0oq/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/bootstrap-3.3.5/css/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/bootstrap-3.3.5/fonts/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/bootstrap-3.3.5/js/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/bootstrap-3.3.5/shim/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/jquery-3.6.0/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/kePrint-0.0.1/

.Rproj.user/shared/notebooks/A2A81305-endometrial-power-calcs/1/s/lib/lightable-0.0.1/

.Rproj.user/shared/notebooks/E45C533F-calculate-ise/1/s/csetup_chunk/

.Rproj.user/shared/notebooks/E45C533F-calculate-ise/1/s/cesyfodkzzadq/

.Rproj.user/shared/notebooks/E45C533F-calculate-ise/1/s/c2u3awcifkdzl/

.Rproj.user/shared/notebooks/
.Rproj.user

*.log

README_cache/latex/

*.Rmd

*.tex

README_cache/gfm/
